@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  padding: 16px;
  width: 500px;
  margin: auto;
  font-family: "Roboto";
}

input {
  height: 32px;
  border: none;
  border-bottom: 1px solid #b2b2b2;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

button {
  border: none;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

/* Form */

#add-votes-container {
  display: flex;
  flex-direction: column;
}

.add, header, #form, label {
  display: flex;
}

.add {
  flex-direction: column;
  flex: 1;
}

.add label {
  align-items: center;
  justify-content: center;
  font-weight: 300;
  flex: 1;
}

.add label input{
  margin: 0 16px;
  width: 100%;
}

.add button {
  height: 32px;
  width: 32px;
  font-weight: 600;
  font-size: 1.2em;
}

.add button:focus {
  color: white;
  background: black;
}


.null-votes {
  margin-top: 32px;
}

#add-votes-container:after {
    content: "";
    display: flex;
    flex-direction: column;
    margin: 18px 0px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
}

/* Info */

#info {
  display: flex;
  justify-content: center;
}

#info ul{
  text-decoration: none;
  list-style: none;
  
  display: flex;
  padding: 0;
}

#info li:first-child {
  margin-right: 16px;
}

/* Candidates card */

.card header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #ededed;
  padding: 16px;
  border-radius: 8px;
}

.card input {
  height: 32px;
  border: none;
  text-align: center;
  border-radius: 4px;
}

.card header h3 {
  margin: 0px;
}

.card:nth-child(n + 1) {
  margin-bottom: 32px;
}
